.head {
    text-align: center;
}

.Question-container {
    margin: 0px auto;
    margin-top: 50px;
    padding: 5px 10px;
    box-shadow: 15px 5px 5px 5px #f291ff;
    max-width: 500px;
}

.Question-form .radio {
    display: block;
    margin: 10px 0px;
}

.Question-form>.btn {
    margin-left: 33%;
    margin-top: 5px;
    color: rgb(224, 92, 180);
    border: solid 2px rgb(224, 92, 180);
    font-size: medium;
    padding: 3px 10%;
    border-radius: 7px;
}

.Question-container>.result {
    text-align: center;
}

.Question-container>.restart-btn {
    margin-left: 33%;
    margin-top: 5px;
    color: rgb(224, 92, 180);
    border: solid 2px rgb(224, 92, 180);
    font-size: medium;
    padding: 3px 10%;
    border-radius: 7px;
}

.solved-question {
    text-align: left;
    padding-left: 10%;
}